USE [master]
GO
/****** Object:  Database [MVCproDB]    Script Date: 11/06/2017 09:32:23 ******/
CREATE DATABASE [MVCproDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVCproDB', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MVCproDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVCproDB_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\MVCproDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVCproDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVCproDB]
GO
/****** Object:  Table [dbo].[ManagersT]    Script Date: 11/06/2017 09:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManagersT](
	[UserName] [nchar](10) NOT NULL,
	[Password] [nchar](10) NULL,
	[FullName] [nchar](10) NULL,
 CONSTRAINT [PK_ManagersT] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrdersT]    Script Date: 11/06/2017 09:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersT](
	[OrderNum] [nvarchar](50) NOT NULL,
	[ProductId] [nvarchar](50) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[BuyerName] [nvarchar](50) NULL,
	[Quantity] [nvarchar](50) NULL,
	[PurchaseDate] [datetime] NULL,
 CONSTRAINT [PK_OrdersT] PRIMARY KEY CLUSTERED 
(
	[OrderNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/06/2017 09:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [nvarchar](50) NOT NULL,
	[ProName] [nvarchar](50) NOT NULL,
	[ProAmount] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersT]    Script Date: 11/06/2017 09:32:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersT](
	[Email] [nvarchar](50) NOT NULL,
	[Pass] [nchar](10) NOT NULL,
 CONSTRAINT [PK_UsersT] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
