
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <!-- link - external styling(external css) for using bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- add scripts -->
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/modal.js"></script>

    <style type="text/css">
        body {
            background-color: blueviolet;
        }

        h10 {
            font-size: 16px;
            color: black;
        }
           h3 {
            font-size: 16px;
            color: darkblue;
        }

        img {
            width: 140px;
            height: 140px;
            position: fixed;
        }

       
    </style> <!-- internal styling(for all the page): define the style of the elements - image size&position, size of h2, and background -->

    <meta name="viewport" content="width=device-width" />
    <title>Terms</title>
</head>
<body>
    <div class="jumbotron">
        <center><a href="/UserLogin/index" class="btn btn-default btn-xs" role="button">Back To Log in Page</a></center>
        <p><h3>&copy; Rotem Abuhatzira & Aviva avraham</h3></p>


        <img src="/Photos/1733734.jpg" alt="Computer Shop"> <!-- add image(photo)-->
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <h10><b>when using this site you will be able to buy computers according to the shop stock,</b></h10>
        <br />
        <h10><b>you will be able to purchase any computer you want and be sure you get your product a few days after your reservation</b></h10>
        <br />
        <h10><b>hope you enjoy using our site</b></h10>


    </div>
</body>
</html>
